<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-lg w-full space-y-8">
    <div>
      <img class="mx-auto h-32 w-auto" src="https://i.postimg.cc/fLbHkDSr/logo-official.png" alt="Workflow">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Angular / Tailwind Boilerplate <fa-icon [icon]="faFire" class="text-orange-500"></fa-icon>
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Checkout
        <a href="https://github.com/devaslanphp/angular-tailwind-boilerplate" target="_blank" class="font-medium text-blue-600 hover:text-blue-500">
          Github Repository for more details
        </a>
      </p>
      <p class="mt-2 text-center text-xs text-gray-500">
        Made by <a href="https://github.com/devaslanphp" target="_blank" class="font-medium hover:underline">DEVASLAN - PHP</a>
      </p>
      <div class="chart-container mt-2">
        <canvas  id="MyChart" >{{ chart }}</canvas>
      </div>
    </div>
  </div>
</div>